body{
    background-image: url("../images/admin.PNG");
}
div#d1{
    /*margin: 1% 30px 1% 30px;*/
    background-color: #136bff;
    position:fixed;
    top:5%;
    left:5%;
    width:90%;
    height:90%;
}
div#d2{
    /*margin: 1% 30px  1% 30px;*/
    background-color: #1eaeff;
    width: 80%;
    height: 90%;
    top: 5%;
    /*left:5%;*/
    margin: 0 auto;
    position: relative;
}
div#d3{
    /*margin: 1% 30px  1% 30px;*/
    background-color: #30edff;
    width: 80%;
    height: 90%;
    top: 5%;
    /*left:5%;*/
    margin: 0 auto;
    position: relative;
}
div#d4{
    /*margin: 1% 30px  1% 30px;*/
    background-color: #99faff;
    width: 80%;
    height: 90%;
    top: 5%;
    /*left:5%;*/
    margin: 0 auto;
    position: relative;
}

button{
    margin-right: 25%;
    margin-top: 10%;
    text-align: center;
    width: 50%;
    border-color: #ff9b3b;
    background-color: #ffd6a8;
    color: #551d0c;
    font-size: 20px;
}
button#b2{
    margin-bottom: 5%;
}