body {
    background-color: #fffecc;
    font-size: 20px;
}

div.main {
    width: 80%;
    height: auto;
    background-color: #ffcacc;
    margin: auto;
    border-radius: 15px;
}

div.image {
    /*background-color: #ffcacc;*/
    padding: 2% 2% 0 0;
    width: 25%;
    height: auto;
    display: inline-block;
}

div.center {
    /*width: 68%;*/
    width: 50%;
    height: auto;
    display: inline-block;
    /*background-color: #ffcacc;*/
    vertical-align: top;
    color: #a51e1c;
}

div.left {
    margin: 2% 0 0 2%;
    width: 19%;
    height: auto;
    display: inline-block;
    background-color: #d1fdff;
    vertical-align: top;
    text-align: center;
}

button.confirmBtn {
    font-size: 20px;
    color: #009153;
    background-color: #d9fae5;
    border-color: #ffff00;
}

button.noConfirmBtn {
    font-size: 20px;
    color: #91022c;
    background-color: #fadee3;
    border-color: #ffff00;
}

div.space {
    vertical-align: top;
    background-color: powderblue;
    width: 80%;
    height: 20px;
    margin: auto;
    border-radius: 15px;
}

img {
    width: 100%;
    height: 100%;
}

div#total {
    background-color: #fff900;
    width: 80%;
    height: 60px;
    margin: auto;
    border-radius: 15px;
}


p#totalText {
    display: inline-block;
    color: #e23132;
    float: right;
}

p#totalPrice {
    display: inline-block;
    color: #e23132;
    float: left;
}
div#finish {
    background-color: #e6e6e6;
    width: 80%;
    height: 60px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
}
button#buyComplete {
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    background-color: #d2ff8e;
    border-color: #00fafa;
    color: #e23132;

}



