body {
    background-color: #c6b6a4;
}

div#top {
    height: 35px;
    width: 100%;
}

div#top2 {
    height: 30px;
    width: 100%;
    background-color: #9cf7ff;
}

div#top_right {
    /*background-color: #abfad0;*/
    display: inline-block;
    height: 100%;
    width: 55%;
}

img.image {
    max-width: 100%;
    max-height: 100%;
    float: right;
}

img#search {
    filter: brightness(2);
}

div#search_div {
    /*background: #98bee6;*/
    /*background: #ccffff;*/
    height: 100%;
    width: 80%;
    float: left;
}

input#search_text {
    float: right;
    width: 90%;
    height: 95%;
    background-color: #ccffff;
    border: none;
}

div#top_left {
    display: inline-block;
    /*background-color: #c1ffc2;*/
    float: left;
    width: 30%;
    height: 100%;
}

img.topleft {
    float: left;
    max-width: 100%;
    max-height: 100%;
}


.navbar {
    overflow: hidden;
    background-color: #aeffb1;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: #4ea95b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #4ea95b;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #74ff79;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #4ea95b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: #c8c8c8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div#sign_in {
    width: auto;
    text-align: left;
    margin-left: 40px;
    color: #ce0002;
}

div#title{
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    background-color: #9cf7ff;
    border-radius: 15px;
    font-size: 20px;
    color: #414141;
}

div#last5Goods {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: #00fafa;
}

div.lastGoods {
    max-width: 19%;
    width: 19%;
    margin: auto;
    height: auto;
    float: right;
    display: inline-block;
    margin: 1% 1% 0 0;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
}

div#even {
    background-color: #00fa00;
}

div#odd {
    background-color: #fff900;

}
img.good5{
    width: 90%;
    height: auto;
    margin:5% 5% 0 5%;
}
