
div.row{
    width: 90%;
    height: auto;
    background-color: #ffcacc;
    margin: auto;
}

div.column{
    width: 32%;
    max-width: 32%;
    height: auto;
    max-height: 100%;
    background-color: #cbf7ff;
    margin: auto;
    float: right;
}
div.image {
    /*background-color: #ffcacc;*/
    padding: 2% 2% 2% 2%;
    width: 95%;
    margin: auto;
    height: auto;
    display: inline-block;
    float: right;
}
img{
    width: 100%;
    height: 100%;
}



