body{
    background-color: #fbffdf;
}
form{
    width: 50%;
    height: auto;
    margin: auto;
    font-size: 20px;
}
input , option , select{
    font-size: 17px;

}

button{
    font-size: 20px;
    float: left;
    background-color: #cefdff;
    border-color: #ba00ff;
    color: #000587;
}
legend{
    text-align: center;
    font-size: 20px;
}
p{
    color: red;
    display: inline-block;
}