body{
    background-color: #e7e1ce;
}
form{
    width: 50%;
    margin: auto;
}
input#submit{
    float: left;
    width: 18%;
    background-color: #c1ffc2;
    color: #005600;
    font-size: 20px;
}
legend{
    text-align: center;
    color: #a04323;
}
input.input{
    width: 45%;
}
fieldset{
    background-color: #dce9ff;
    border-color: #0000ff;
}
p.error{
    display: inline-block;
    color: red;
}
